.navbar {
    background-color: #11d1f3;
}

.navbar-brand {
    color: red !important;
    font-weight: bold;
    font-size: 1.8vw;
    padding-left: 3vw;
}

.navbar-nav {
    padding-left: 30vw !important;
}

.navbar-nav li a {
    padding-left: 1.5vw;
    color: white !important;
    font-weight: 900;
    font-size: 1.2vw;
}

.blogs {
    box-shadow: 1px 1px 5px grey;
    margin-top: 2vw;
    padding: 2vw;
}