.navbar {
    background-color: purple;
}

.navbar-brand {
    color: red !important;
    font-weight: bold;
    font-size: 1.8vw;
    padding-left: 3vw;
}

.navbar-nav {
    padding-left: 30vw !important;
}

.navbar-nav li a {
    padding-left: 1.5vw;
    color: white !important;
    font-weight: 900;
    font-size: 1.2vw;
}

.blogs,
.eachblog {
    box-shadow: 1px 1px 5px grey;
    margin-top: 2vw;
    padding: 2vw;
}

.blogs span {
    color: red !important;
}

.quotes {
    box-shadow: 1px 1px 5px grey;
    border-radius: 5px;
    margin-top: 3vw;
}

.pquote {
    color: red;
}

.pquote p:first-child {
    color: black;
}

.pquote p:last-child {
    color: red;
}

.quotes {
    color: purple;
    width: 13vw;
    padding-top: 2vw;
}

#comdel {
    border: 1px solid purple;
    background: transparent;
    width: 10vw;
    margin: 2vw 2vw;
}

.comment {
    color: purple;
}

.delete {
    color: red;
}

#registerFrm,
#loginfrm {
    box-shadow: 1px 1px 5px grey;
    padding: 3vw;
    height: 35vw;
    width: 37vw !important;
    border-radius: 10px;
}

#registerFrm {
    height: 40vw;
}

form input {
    border: 4vw solid purple;
}

.btn {
    width: 100%;
    background-color: purple;
    color: white;
    font-weight: bold;
}

a span {
    color: purple;
}

h4 {
    color: purple;
    font-weight: bold;
}

textarea {
    height: 20vw !important;
    background-color: red;
}

.postblog {
    box-shadow: 1px 1px 5px grey;
    padding: 2vw;
    border-radius: 10px;
}

.smallbtn {
    width: 10vw !important;
    background-color: purple;
}

.addcom {
    color: purple;
}

.delcom {
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 5px;
    color: red;
}

.comment {
    box-shadow: 1px 1px 5px grey;
    padding: 5px 3px;
    margin-top: 2vw;
}

.comment p {
    color: black !important;
}

.errors {
    width: 40vw;
    color: red;
    margin: 0 auto;
    margin-top: 5vw;
}