{% extends 'base.html' %} {%import "bootstrap/wtf.html" as wtf%} {%block
content%}

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>{{blog.blog_title}}</h1>

      <h3>{{blog.blog_content}}</h3>
      <p class="date text-muted">
        Posted on ~ {{blog.posted.strftime('%Y-%m-%d')}}
      </p>
    </div>
    <div class="col-lg-4">
      <h1>Add a comment</h1>
      {{wtf.quick_form(comment_form)}}
    </div>
    <div class="col-md-4">
      {%for comment in blog_comments%}

      <p>{{comment.body}}</p>
      <p>{{comment.timeposted.strftime("%Y-%m-%d")}}</p>
      <p>
        {{comment.commenter.username}}

        <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}"
          ><button>Delete Coment</button></a
        >
        {%endfor%}
      </p>
    </div>
  </div>
</div>
{%endblock%}
