{% extends 'base.html' %} {%import "bootstrap/wtf.html" as wtf%} {%block
content%}

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3 style="color: purple">{{blog.blog_title}}</h3>

      <p>{{blog.blog_content}}</p>
      <p class="date text-muted">
        Posted on ~ {{blog.posted.strftime('%Y-%m-%d')}}
      </p>
      <a
        name=""
        id=""
        class="btn btn-primary smallbtn"
        href="{{url_for('main.update', id=blog.id)}}"
        role="button"
        >UPDATE BLOG</a
      >
      <a
        name=""
        id=""
        class="btn btn-primary smallbtn"
        href="{{url_for('main.delete_blog', id=blog.id)}}"
        role="button"
        >DELETE BLOG</a
      >
    </div>
    <div class="col-lg-4">
      <h3 class="addcom">Add a comment</h3>
      {{wtf.quick_form(comment_form)}}
    </div>
    <div class="col-md-4">
      {%for comment in blog_comments%}
<div class="comment">
      <p>{{comment.body}}</p>
      <p>~~{{comment.timeposted.strftime("%Y-%m-%d")}}</p>
      <p>
        {{comment.commenter.username}}

        <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}"
          ><button class="delcom">Delete Comment</button></a
        >
</div>
        {%endfor%}
      </p>
    </div>
  </div>
</div>
{%endblock%}
